@import 'config';
@import 'menu';
@import 'mobile';

/* '*'(asterisk) means every thing */
* {
    box-sizing: border-box;
}

/* some basic settings */
body{
    @include backgroundSetting();
    background: $primary-colour;
    color: setTextColour($primary-colour); 
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
}

/* headings */
h1,
h2,
h3 {
    margin: 0;
    font-weight: 400;

    // '&' means the super class and the following class
    &.lg-heading {
        font-size: 6rem; //rem means html fontsize * multiple (6 * html)
    }

    &.sm-heading {
        margin-bottom: 2rem;
        padding: 0.2rem 1rem;
        background: rgpa(lighten($primary-colour, 2), 0.5);
    }
}

/* links */
a {
    color: #fff;
    text-decoration: none;
}

/* header */
header {
    position: fixed;
    z-index: 2;
    width: 100%;
}

/* secondary-colour */
.text-secondary {
    color: $secondary-colour;
}

/* main */
main{
    padding: 4rem;
    //height: 100%;
    min-height: calc(100vh - 60px);

    //nested icon class 
    .icons {
        margin-top: 1rem;

        // nested a (link) class
        a {
            padding: 0.4rem;

            // set the seconday colour when put mouse on it
            &:hover {
                color: $secondary-colour;
                @include easeOut();
            }
        }
    }
    // in id of 'home'
    &#home {
        overflow: hidden;
        h1 {
            margin-top: 20vh; // 20 units downwards (divied the page by 100 slices)
        }
    }
}


/* about page */
.about-info {
    display: grid;
    grid-gap: 30px;
    grid-template-areas: 
        'bioimg bio bio'
        'job1 job2 job3';
    grid-template-columns: repeat(3, 1fr); // three columns 1 fraction each
}

.bio-image {
    grid-area: bioimg; // same as the name in tamplate areas
    background-image: $profile-image;
    background-position: center;
    background-size: 85%;
    margin: auto;
    width: 220px;
    height: 220px;
    border-radius: 50%;
    border: $secondary-colour 3px solid;
}

.bio {
    grid-area: bio;
}

.job {
    background: lighten($primary-colour, 5);
    padding:0.5rem;
    border-top: $secondary-colour 5px solid;
}

.job-1 {
    grid-area: job1;
}

.job-2 {
    grid-area: job2;
}

.job-3 {
    grid-area: job3;
}


/* projects */
.projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;

    img {
        width: 100%;
        border: 3px #fff solid;
        &:hover {
            opacity: 0.5;
            border-color: $secondary-colour;
            @include easeOut;
        }
    }
}
// button Styles
.btn {
    display: block;
    padding: 0.5rem 1rem;
    border: 0;
    margin-bottom: 0.3rem;
    &:hover {
        background: $secondary-colour;
        color: setTextColour($secondary-colour);
    }
}

.btn-dark {
    @extend .btn;
    background: darken($primary-colour, 50);
    color: #fff;
}

.btn-light {
    @extend .btn;
    background: lighten($primary-colour, 50);
    color: #333;
}


//footer
#main-footer {
    text-align: center;
    padding: 1rem;
    background: darken($primary-colour, 10);
    color: setTextColour($primary-colour);
    height: 60px;
}
